@font-face {
    font-family: 'Macondo';
    src: url('Macondo/Macondo-Regular.woff2') format('woff2'),
        url('Macondo/Macondo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

