:root {
    --background-color: #141414;
    --accent-color: #43b86c;
    --item-color: #222222;
    --item-text-color: #b8b8b8;
    --item-inner-color: #2e2e2e;
    --text-color: #e6e6e6;
    --text-color-alt: #1d1d1d;
    --button-color: #333333;
    --button-shadow: #292929;
    --focus-color: #686868;
}