:root {
    --background-color: #EDEEF0;
    --accent-color: #3BD16F;
    --item-color: #FFF;
    --item-text-color: #686868;
    --item-inner-color: #f0f0f0;
    --text-color: #222222;
    --text-color-alt: #1d1d1d;
    --button-color: #f3f3f3;
    --button-shadow: #e6e6e6;
}