{% load static %}
{% load manga_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{% static 'manga/css/index.css' %}">

    <script>
        if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
          document.documentElement.style.display = 'none';
          document.head.insertAdjacentHTML(
            'beforeend',
            '<link rel="stylesheet" href="{% static "manga/css/light-theme.css" %}" onload="document.documentElement.style.display = \'\'">',
          );
        }
      </script>
    
    <link rel="stylesheet" href="{% static 'manga/css/light-theme.css' %}"
    media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'manga/css/dark-theme.css' %}"
    media="(prefers-color-scheme: dark)">
    <title>MangaChan</title>
</head>

<body>
    <header class="header">
        {% include 'manga/header.html' %}
    </header>
    <main class="main">
        <div class="main__container container">
            <section class="main__content">
                {% block content %}

                {% endblock %}
            </section>
            <section class="main__sidebar sidebar">
                
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__container container">

        </div>
    </footer>
    <script>
        document.querySelector('.menu__burger').addEventListener('click', () => {
            document.querySelector('.menu__list').classList.toggle('active');
            document.querySelector('.menu__burger').classList.toggle('active');
            document.querySelector('body').classList.toggle('lock');
        });
    </script>
</body>

</html>