{% load static %}
{% load manga_tags %}

<div class="catalog-manga__item">
    {% if manga.images %}
        {% if manga.nsfw %}
            <div class="blur">
                <a href="{{ manga.get_absolute_url }}" class="catalog-manga__nsfw catalog-manga__image content-block" style="background-image: url('{{ manga.images.first.image.url }}');"></a>
            </div>
        {% else %}
            <a href="{{ manga.get_absolute_url }}" class="catalog-manga__image content-block" style="background-image: url('{{ manga.images.first.image.url }}');"></a>
        {% endif %}
        <div class="catalog-manga__info">
            {% if manga.nsfw %}
                <span class="nsfw__label">NSFW</span>
            {% endif %}
            <h2 class="catalog-manga__name">
                {{ manga.name }}
            </h2>
        </div>
    {% endif %}
</div>