<div class="header__container container">
    <nav class="header__menu menu">
        <a class="menu__logo" href="{% url 'index' %}">MangaChan</a>
        <form action="/" method="get" class="search-form">
            <input class="search-form__input input" name="search" type="text" placeholder="Поиск манги"
                value="{{ request.GET.search }}">
        </form>
        <ul class="menu__list">
            <li class="menu__item">
                <a href="{% url 'add_manga' %}" class="menu__link">Добавить мангу</a>
            </li>
            
            {% if not request.user.is_authenticated %}
                <li class="menu__item">
                    <a href="{% url 'login' %}" class="menu__link">Войти</a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'signup' %}" class="menu__link menu__link_outline">Регистрация</a>
                </li>
            {% else %}
                <li class="menu__item menu__user">
                    <a href="{{ request.user.profile.get_absolute_url }}" class="menu__link">Профиль</a>
                </li>
                <li class="menu__item menu__user">
                    <a href="{% url 'logout' %}" class="menu__link menu__link_outline">Выйти</a>
                </li>
            {% endif %}
        </ul>
        <div class="menu__burger">
            <span></span>
        </div>
    </nav>
</div>