{% extends 'manga/base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<h1 class="page-title">Авторизация</h1>
<div class="login content-block">
    
    <form action="{% url 'login' %}" method="post" class="login-form manga-form"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="manga-form__input">
                {{ field }}
                <p>{{ field.errors }}</p>
            </div>
        {% endfor %}
        {{ form.non_field_errors }}
        <div class="login-form__buttons">
            <button class="button button--outline login-form__button" type="submit">Войти</button>
            <button class="button login-form__button" type="submit">Забыли пароль?</button>
        </div>
    </form>
</div>

{% endblock %}