{% load static %}
{% load manga_tags %}

<div class="manga__item">
    {% if manga.images %}
    <div class="manga__preview">
        {% for image in manga.images.all|slice:":2" %}
            {% if manga.nsfw %}
                <img class="manga__image nsfw" src="{{ image.image.url }}" alt="">
            {% else %}
                <img class="manga__image" src="{{ image.image.url }}" alt="">
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="manga__info">
        <div class="manga__name">
            <a href="{{ manga.get_absolute_url }}">
                {% if manga.original_name %}
                    <p>{{ manga.name }} <span>({{ manga.original_name }})</span></p>
                {% else %}
                    <p>{{ manga.name }}</p>
                {% endif %}
                {% if manga.nsfw %}
                    <span class="nsfw__label">NSFW</span>
                {% endif %}
            </a>
        </div>
        <div class="manga__about">
            <div class="manga__stats manga-stats">
                <div class="manga-stats__item">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span>{{ manga.views }}</span>
                </div>
                <div class="manga-stats__item">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <span>{{ manga.get_likes_count }}</span>
                </div>
            </div>
            <p class="manga__text">Автор: <a class="manga__link">{{ manga.author }}</a></p>
            <p class="manga__text">Серия: <a class="manga__link">{{ manga.series }}</a></p>
            <p class="manga__text">Язык: <a class="manga__link">{{ manga.language }}</a></p>
            <ul class="manga__tag-list">Теги:
                {% get_tags manga as manga_tags %}
                {% for tag in manga_tags|slice:":10" %}
                <li class="manga__tag-item">
                    <a class="manga__link" href="#">{{tag.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>