{% extends 'manga/base.html' %}
{% load static %}
{% load manga_tags %}

{% block content %}
<div class="page__list">

    <div class="page__item">
        <img src="{{ images.0.image.url }}" alt="" class="page__image">
        <div class="overlay-paginator">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="overlay-paginator__previous noSelect"></a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="overlay-paginator__next noSelect"></a>
            {% endif %}
        </div>
    </div>
    <div class="page__menu page-menu">
        <div class="page-menu__container">
            <nav class="page-menu__nav">
                <ul class="page-menu__list">
                        <li class="page-menu__item">
                            {% if page_obj.has_previous %}
                                <a href="?page=1" class="page-menu__link">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-menu__link">
                                    <i class="fa fa-angle-left" aria-hidden="true" id="prevLink"></i>
                                </a>
                            {% endif %}
                        </li>
                    
                        <li class="page-menu__count">
                            {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                        </li>
                    
                        <li class="page-menu__item">
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="page-menu__link">
                                    <i class="fa fa-angle-right" aria-hidden="true" id="nextLink"></i>
                                </a>
                                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-menu__link">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </li>
                </ul>
            </nav>
        </div>
    </div>
    
</div>
{% endblock %}