{% extends 'manga/base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<div class="add-manga">
    <form action="{% url 'add_manga' %}" method="post" class="manga-form"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field|is_checkbox %}
                <label class="form__label">
                    {{ field }}
                    <span class="check__box">
                        <i class="fa fa-check check__mark" aria-hidden="true"></i>
                    </span>
                    {{ field.label }}
                </label>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <button class="button form__button" type="submit">Добавить</button>
    </form>
</div>

{% endblock %}