{% extends 'manga/base.html' %}
{% load static %}

{% block content %}
    <div class="profile">
        <div class="content-block">
            <div class="block__item profile__main">
                <img class="profile__image" src="{{ profile.get_avatar }}" alt="">
                <div class="profile__info">
                    <div class="profile__username">
                        <a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
                    </div>
                    <div class="profile__meta meta-info">
                        <p class="meta-info__item">Дата регистрации: <span class="meta-info__link">{{ profile.register_date|date:"d E Y" }}</span></p>
                        <p class="meta-info__item">Комментарии: <span class="meta-info__link">{{ comment_amount }}</span></p>
                        <p class="meta-info__item">Залито манги:
                            {% if uploaded_manga_amount %} 
                                <a class="meta-info__link" href="{% url 'index'%}?uploader={{profile.user.username}}">{{ uploaded_manga_amount }} (посмотреть)</a>
                            {% else %}
                                <a class="meta-info__link" href="#">0</a>
                            {% endif %}
                            </p>
                        <p class="meta-info__item">О себе:</p>
                        {% if profile.about %}
                        <div class="manga-about__description meta-info__about">
                            {{profile.about|linebreaks}}
                        </div>
                        {% else %}
                        <div class="manga-about__description meta-info__about meta-info__about_empty">
                            Я плохой и ничего о себе не написал :(
                        </div>
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="content-block__header">
                <h1 class="liked-manga__header">Понравившаяся манга</h1>
                <a href="#" class="manga-about__button liked-manga__see-more">Все</a>
            </div>
            <div class="liked-manga__list">
                {% for manga in liked_manga|slice:":8" %}
                <a href="{{ manga.get_absolute_url }}" class="liked-manga__link">
                    <div class="liked-manga__item">
                        <img src="{{ manga.images.first.image.url }}" class="manga__image liked-manga__image" alt="">
                        <h2 class="liked-manga__name">{{ manga.name }}</h2>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="content-block">
            <div class="content-block__header">
                <h1 class="liked-manga__header">Последние комментарии</h1>
                <a href="#" class="manga-about__button liked-manga__see-more">Все</a>
            </div>
            <div class="manga-about__comment">
                <div class="comment__list">
                    {% for comment in comments %}
                        <div class="comment__item">
                            <img src="{{ comment.manga.get_preview }}" class="comment__avatar"></img>
                            <div class="comment__info clearfix">
                                <a href="{{ comment.manga.get_aboslute_url }}" class="comment__username">
                                    {{ comment.manga.name }}
                                </a>
                                <p class="comment__date"> {{ comment.date }}</p>
                            </div>
                            <div class="comment__text"><p>{{ comment.text }}</p></div>
                        </div>
                        <div class="comment__line"></div>
                        
                    {% endfor %}
                </div>
           </div>
        </div>
        
    </div>
{% endblock %}