.login {
    margin-top: 50px;
    max-width: 500px;
    margin: 0 auto;
}
.login-form {
    row-gap: 10px;
}
.login-form__button {
    margin-top: auto;
    width: 49%;
}
.page-title {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}
.login-form__buttons {

}