.main__container {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-between;

}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.main__content {
    width: 100%;
}
/* @media (max-width: 629px) {
    .main__sidebar {
        display: none;
    }
} */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }