.manga__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    
}

.block__item {
    background-color: var(--item-color);
    padding: 7px 5px;
    border-radius: 5px;
    display: flex;
    column-gap: 10px;
}

@media(max-width: 424px) {
    .block__item {
        flex-direction: column;
    }
}

.manga__preview {
    background-color: var(--item-inner-color);
    padding: 4px;
    border-radius: 3px;
    white-space: nowrap;
    width: auto;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    flex-grow: 0;
    position: relative;
}
.manga__image {
    display: block;
    width: 100px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media(max-width: 424px) {
    .manga__image {
        display: block;
        width: 100%;
        object-fit: cover;
        min-width: 130px;
    }
}

@media(max-width:767px) and (min-width:425px) {
    .manga__preview > .blur:nth-child(2){
        display: none;
    }
    .manga__preview > .manga__image:nth-child(2){
        display: none;
    }
    
}

.manga__info {
    display: flex;
    width: auto;
    flex-direction: column;
    row-gap: 7px;
    /* font-size: 15px; */
}

@media(max-width: 424px) {
    .manga__info {
        margin-top: 5px;
    }
}

.manga__name {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 18px;
}
.manga__name span {
    color: var(--item-text-color)
}
.manga__name p {
    display: inline-block;
    margin-bottom: 2px;
}

.manga__about {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.manga-stats {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
}

.manga-stats__item:not(:last-child) {
    border-right: 1px solid var(--text-color);
}

.manga-stats__item,
.like-button {
    padding: 0 4px;
    font-size: 16px;
    background: none;
    color: var(--text-color);
    border: none;
    display: block;
}
.like-button_liked {
    color: tomato;
}
.manga__link {
    cursor: pointer;
    font-style: italic;
    color: var(--item-text-color);
    border-bottom: 1px dashed var(--accent-color);

}

.manga__tag-list {
    display: flex;
    row-gap: 5px;
    column-gap: 7px;
    flex-wrap: wrap;
}

.manga__tag-item {}