.manga-form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: var(--item-color);
    border-radius: 5px;
    padding: 5px;
}

.form__label {
    display: flex;
    column-gap: 5px;
    align-items: flex-start;
    position: relative;
}
