.menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.menu__logo {
    align-self: center;
    font-family: 'Macondo', cursive;
    font-size: 19px;
    position: relative;
    z-index: 3;
}

.menu__list {
    display: flex;
    column-gap: 15px;
    align-items: center;
    flex-wrap: nowrap;
}

@media(max-width: 767px) {
    .menu__list {
        position: fixed;
        top: 0;
        left: -200%;
        width: 100%;
        height: 100%;
        background-color: var(--item-color);
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;
        row-gap: 5px;
        padding: 0 5px;
        padding-top: 35px;
        transition: 0.3s;
    }

    .menu__list.active {
        left: 0;
    }

    body.lock {
        overflow: hidden;
    }
}
.menu__link_outline {
    border: 2px solid var(--accent-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 0 4px;
}

.menu__link_outline:hover {
    background-color: var(--accent-color);
    color: var(--text-color-alt);
}
@media(max-width: 767px) {
    .menu__link_outline {
        border: none;
    }
}
.menu__item {}

@media(max-width: 767px) {
    .menu__item {
        width: 100%;
    }
    .menu__link {
        padding: 15px 7px;
        background-color: var(--button-color);
        border-bottom: 2px solid var(--button-shadow);
        border-radius: 10px;
        display: block;
    }
    .menu__link:hover{
        background-color: rgb(207, 207, 207);
        border-bottom: 2px solid rgb(196, 196, 196);
        color: black;
    }

}

.search-form {
    flex-grow: 1;
    max-width: 350px;
}

.search-form__input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    background-color: var(--item-color);
    padding: 0 3px;
}

.menu__link {}
@media (min-width: 768px) {
    .menu__link:hover:not(.menu__link_outline) {
        border-bottom: 2px solid var(--accent-color);
    }
}

.menu__burger {
    display: none;
}

@media (max-width: 767px) {
    .menu__burger {
        height: 20px;
        width: 25px;
        display: block;
        position: relative;
        align-self: center;
        z-index: 3;
    }

    .menu__burger.active::before {
        transform: rotate(-45deg);
    }

    .menu__burger.active::after {
        transform: rotate(45deg);
    }
    .menu__burger.active {
        
    }
    .menu__burger.active span {
        display: none;
    }

    .menu__burger span,
    .menu__burger::after,
    .menu__burger::before {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 100%;
        background-color: var(--accent-color);
        content: '';
        left: 0;
        transition: 0.2s;
    }

    .menu__burger::before {
        transform: translateY(-8px);
    }

    .menu__burger::after {
        transform: translateY(8px);
    }
}