.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu__logo {
    align-self: center;
    font-family: 'Macondo', cursive;
    font-size: 19px;
    position: relative;
    z-index: 5;
}

.menu__list {
    display: flex;
    column-gap: 15px;
    align-items: center;
    flex-wrap: nowrap;
}

@media(max-width: 767px) {
    .menu__list {
        position: fixed;
        top: 0;
        left: -200%;
        width: 100%;
        height: 100%;
        background-color: var(--item-color);
        flex-direction: column;
        justify-content: space-between;
        z-index: 3;
        row-gap: 5px;
        padding: 0 5px;
        padding-top: 45px;
        padding-bottom: 10px;
        transition: 0.3s;
    }

    .menu__list.active {
        left: 0;
    }

    body.lock {
        overflow: hidden;
    }
}

.menu__item {}

@media(max-width: 767px) {
    .menu__item {
        width: 100%;
    }
}

.search-form {
    flex-grow: 1;
    max-width: 350px;
}

.menu__burger {
    display: none;
}

@media (max-width: 767px) {
    .menu__burger {
        height: 35px;
        width: 30px;
        display: block;
        position: relative;
        align-self: center;
        z-index: 4;
    }

    .menu__burger.active::before {
        transform: rotate(-45deg);
    }

    .menu__burger.active::after {
        transform: rotate(45deg);
    }
    .menu__burger.active {
    }
    .menu__burger.active span {
        display: none;

    }

    .menu__burger span,
    .menu__burger::after,
    .menu__burger::before {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 100%;
        background-color: var(--accent-color);
        content: '';
        left: 0;
        transition: 0.2s;
    }

    .menu__burger::before {
        transform: translateY(-9px);
    }

    .menu__burger::after {
        transform: translateY(9px);
    }
}
.menu__top, .menu__bottom {
    display: flex;
    flex-direction: inherit;
    column-gap: inherit;
    align-items: center;
}
.menu__item--burger {
    display: none;
}

@media (max-width: 767px) {
    .menu__top {
        flex-direction: column;
        width: 100%;
        row-gap: inherit;
    }
    .menu__bottom {
        flex-direction: row;
        width: 100%;
        row-gap: inherit;
        column-gap: 8px;
        text-align: center;
    }
    .menu__item--burger {
        display: block;
    }
}
.menu__logout {
    width: 70px;
    display: inline-block;
}
@media(max-width: 767px) {
    .menu__link {
        display: inline-block;
        flex-grow: 1;
        width: 100%;
    }
} 
