.tag__block {
    display: flex;
    flex-direction: column;
}

.tag__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.tag__title {
    margin-bottom: 5px;
}
.tag__item {
    line-height: 1.3;
}
.tag__button {
}